.message-list-container {
  flex: 1;
  position: fixed;
  top: 70px;
  right: 0;
  left: 0;
  bottom: 90px;
  padding: 0 20px;
  overflow: auto;
}

.message-list {
  list-style: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message {
  padding: 8px 16px;
  margin-bottom: 8px;
  background: $messageBackground;
  border-radius: 18px;
  text-align: left;
  max-width: 50%;
}

.own {
  background: $ownMessageBackground;
  align-self: flex-end;
  text-align: right;
}

.sender {
  margin: 8px 0;
}
