@import 'variables.scss';
@import 'components/MessageList/style.scss';
@import 'components/MessageInput/style.scss';

html,
body {
  font-family: $fontFamily;
  font-weight: 400;
  letter-spacing: 0.1px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  padding: 0;
  list-style: none;
}
