h1 {
  font-style: normal;
  font-weight: bold;
}

h2 {
  font-style: normal;
  margin: 0;
}

h3 {
  font-style: normal;
  font-weight: 600;
  margin: 0;

  @include customMinBreakPoint(400) {
    font-size: 18px;
  }
}

h4 {
  font-style: normal;
  font-weight: normal;
  margin: 0;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}
