// Fonts
$fontFamily: 'Open Sans', Roboto, 'Helvetica', Arial, sans-serif;

// Screen sizes
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;

// Colors
$white: rgb(255, 255, 255);

$textColor: rgb(51, 51, 51);
$textLight2Color: #eeeeee;
$textLightColor: #6b7177;

$primaryColor: #4568ed;
$primaryBackgroundColor: #4568ed;

$primaryDark2Color: #a071e8;
$primaryDark1Color: #381272;
$primaryLight1Color: #c1f0d0;
$primaryLight2Color: #dd9dff;

$secondaryColor: #e6ebfd;
$secondaryLight1Color: #fbf7ed;
$secondaryLight2Color: #fff8f6;
$secondaryLight3Color: #e2e6dc;
$secondaryLight4Color: #ede8db;

$warningColor: red;
$warningLight1Color: #c432571f;

$ownMessageBackground: rgb(250, 175, 0);
$messageBackground: rgb(228, 230, 235);
