// Fonts
$fontFamily: 'Open Sans', Roboto, 'Helvetica', Arial, sans-serif;

// Screen sizes
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;

// Colors
$white: rgb(255, 255, 255);

$textColor: rgb(51, 51, 51);
$textLight2Color: #eeeeee;
$textLightColor: #6b7177;

$primaryColor: #4568ed;
$primaryBackgroundColor: #4568ed;

$secondaryColor: #e6ebfd;

$warningColor: red;
