// Fonts
$fontFamily: 'Open Sans', Roboto, 'Helvetica', Arial, sans-serif;

// Screen sizes
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;

// Colors
$textColor: #42474c;
$textLight1Color: #6b7177;

$primaryDark2Color: #002e25;
$primaryDark1Color: #004c3f;
$primaryColor: #008060;
$primaryLight1Color: #c1f0d0;
$primaryLight2Color: #effcfa;

$secondaryColor: #906509;
$secondaryLight1Color: #fbf7ed;
$secondaryLight2Color: #fff8f6;
$secondaryLight3Color: #e2e6dc;
$secondaryLight4Color: #ede8db;

$warningColor: #c43256;
$warningLight1Color: #c432571f;

$ownMessageBackground: rgb(250, 175, 0);
$messageBackground: rgb(228, 230, 235);
