.message-input-container {
  display: flex;
  gap: 4px;
}

.message-input {
  padding: 12px 8px;
  flex: 1;
  background: $messageBackground;
  border-radius: 18px;
}

.send-message {
  padding: 12px 14px;
  cursor: pointer;
}
